In [14]:
import os
import pandas as pd
import numpy as np

In [22]:
# pd.set_option('display.max_columns', None)
df = pd.read_csv('egypt_real_estate_listings.csv')

In [24]:
print(df.head())
print(df.info())

                                                 url       price  \
0  https://www.propertyfinder.eg/en/plp/buy/chale...   8,000,000
1  https://www.propertyfinder.eg/en/plp/buy/villa...  25,000,000
2  https://www.propertyfinder.eg/en/plp/buy/chale...  15,135,000
3  https://www.propertyfinder.eg/en/plp/buy/apart...  12,652,000
4  https://www.propertyfinder.eg/en/plp/buy/villa...  45,250,000

                                         description  \
0  OWN A CHALET IN EL GOUNA WITH A PRIME LOCATION...
1  For sale, a villa with immediate delivery in C...
2  With a down payment of EGP 1,513,000, a fully ...
3  Own an apartment in New Cairo with a minimal d...
4  Project: Granville\nLocation: Fifth Settlement...

                                            location       type  \
0       Swan Lake Gouna, Al Gouna, Hurghada, Red Sea     Chalet
1   Karmell, New Zayed City, Sheikh Zayed City, Giza      Villa
2              Azha North, Ras Al Hekma, North Coast     Chalet
3  Taj City, 5th Settlement Compounds, The 5th Se...  Apartment
4                 Granville, New Capital City, Cairo      Villa

                   size bedrooms bathrooms available_from payment_method  \
0     732 sqft / 68 sqm  1+ Maid         1    31 Aug 2025           Cash
1  2,368 sqft / 220 sqm        4         4     2 Sep 2025           Cash
2  1,270 sqft / 118 sqm        2         2    19 Aug 2025           Cash
3  1,787 sqft / 166 sqm        3         2    26 Aug 2025   Installments
4  4,306 sqft / 400 sqm        7         7     2 Sep 2025           Cash

    down_payment
0  1,200,000 EGP
1  2,100,000 EGP
2  1,513,000 EGP
3  1,260,000 EGP
4  2,262,500 EGP
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19924 entries, 0 to 19923
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   url             19924 non-null  object
 1   price           19385 non-null  object
 2   description     19846 non-null  object
 3   location        19833 non-null  object
 4   type            19847 non-null  object
 5   size            19847 non-null  object
 6   bedrooms        19780 non-null  object
 7   bathrooms       19784 non-null  object
 8   available_from  19261 non-null  object
 9   payment_method  19383 non-null  object
 10  down_payment    5445 non-null   object
dtypes: object(11)
memory usage: 1.7+ MB
None

In [36]:
# Calculate % of Data Missing
columns = df.columns.to_list()

missing_percentage = []
for col in columns:
    missing_percentage.append(1 - (df[col].count()/len(df)))

for percent, col in enumerate(columns):
    print(f'{col}: {missing_percentage[percent]:.2%}')

url: 0.00%
price: 2.71%
description: 0.39%
location: 0.46%
type: 0.39%
size: 0.39%
bedrooms: 0.72%
bathrooms: 0.70%
available_from: 3.33%
payment_method: 2.72%
down_payment: 72.67%

In [38]:
# Get the types of properties
types = df['type'].unique()
print(types)

['Chalet' 'Villa' 'Apartment' 'Penthouse' 'Twin House' 'Duplex' 'iVilla'
 'Townhouse' 'Hotel Apartment' 'Cabin' 'Bulk Sale Unit' 'Palace' 'Land'
 'Whole Building' 'Full Floor' 'Roof' nan 'Bungalow']